body {
    margin: 0px;
    font-family: 'Noto Sans', sans-serif;
    background-color: #EDF2C2;
    
} 

h1, h2, h3, h4, h5, h6 {
    font-family: 'Fjalla One', sans-serif;
}

.portada {
    color: white;
    height: 400px;
    background-image: url(../images/intro.jpg);
    background-color: rgba(0, 0, 0, 0.3);
    background-size: cover;
    background-position: center;
    background-blend-mode: darken;
}

.cover-small {
    height: 200px;
    background-blend-mode: normal;
}

hr {
    background-color: #123859; 
    height: 5px; 
    margin: 0;
}

.bg-dark {
    background-color: #002e25 !important;
}