body {
    margin: 0px;
    font-family: 'Noto Sans', sans-serif;
    background-color: #98edc2;
    
} 

h1, h2, h3, h4, h5, h6 {
    font-family: 'Fjalla One', sans-serif;
}

.portada {
    color: white;
    background-color: rgba(0, 0, 0, 0.3);
    background-size: cover;
    background-position: center;
    background-blend-mode: darken;
}   

 @media (min-width: 992px) {
    .portada {
       
        height: 400px;
        background-image: url(../images/portada.jpg);
           
    }
}

@media (max-width: 991.98px) {
    .portada {
        
        height: 350px;
        background-image: url(../images/Sin_título-2.jpg);
           
    }
}


.card {
    background-color: #b2d3c2;
}

hr {
    background-color: #123859; 
    height: 5px; 
    margin: 0;
}

.bg-dark {
     background-color: #207b25 !important;

}

footer a, footer a:hover, footer a:focus, footer a:visited, footer a:active, footer a:focus-within {
    text-decoration: none;
    color: #004176; }

