# https://git-scm.com/docs/gitignore
# https://help.github.com/articles/ignoring-files
# Example.gitignore files : https://github.com/github/gitignore
_notes/
/bower_components/
/node_modules/
/fotos de Educacion Ambiental - copia/
/Cuentos sobre Educaciòn Ambiental y Medio Ambiente/
/Familia/
/Tarea Vida/
/VIDEOS RECORRIDOS POR LA CIUDAD DE MARTA Y DEL CHE/
app Rafael.rar
